# Flask Configuration
SECRET_KEY=your-secret-key-here-change-this-in-production

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost/chatbot_db

# OpenAI Configuration
OPENAI_API_KEY=your-openai-api-key-here

# OneLogin Configuration
ONELOGIN_URL=https://bart.onelogin.com/
ONELOGIN_CLIENT_ID=9ae7dbc0-88ce-013d-c8db-223c7d66b5e8136836
ONELOGIN_CLIENT_SECRET=770eca7bd57a5f5f230cc6947e41fdac0d074b942726c73d11b1f056e7ec661e
ONELOGIN_REDIRECT_URI=http://localhost:5001/auth/callback
